.cui-input-wrapper {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 2px;
    color: var(--cui-default);
    box-sizing: border-box;
}

.cui-input-wrapper-primary {
    color: var(--cui-primary);
}

.cui-input-wrapper-secondary {
    color: var(--cui-secondary);
}

.cui-input-wrapper-tertiary {
    color: var(--cui-tertiary);
}

.cui-input-wrapper-warning {
    color: var(--cui-warning);
}

.cui-input-wrapper-row {
    flex-direction: row-reverse;
    align-items: center;
}

.cui-input-wrapper-otp {
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.cui-input {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5rem;
    border-radius: 5px;
    border: var(--cui-default) 3px solid;
    background-color: var(--cui-base);
    color: #fff;
    transition: background-color .2s ease-in-out, border-color .2s ease-in-out, color .2s ease-in-out;
    outline-offset: 1px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cui-file-input {
    opacity: 0;
    visibility: hidden;
}

.cui-input-primary {
    background-color: var(--cui-primary-bg);
    color: var(--cui-primary);
    border-color: var(--cui-primary);
}

.cui-input-secondary {
    background-color: var(--cui-secondary-bg);
    color: var(--cui-secondary);
    border-color: var(--cui-secondary);
}

.cui-input-tertiary {
    background-color: var(--cui-tertiary-bg);
    color: var(--cui-tertiary);
    border-color: var(--cui-tertiary);
}

.cui-input-warning {
    background-color: var(--cui-warning-bg);
    color: var(--cui-warning);
    border-color: var(--cui-warning);
}

.cui-input:focus {
    outline: 2px solid var(--cui-default);
}

.cui-input-primary:focus {
    outline-color: var(--cui-primary);
}

.cui-input-secondary:focus {
    outline-color: var(--cui-secondary);
}

.cui-input-tertiary:focus {
    outline-color: var(--cui-tertiary);
}

.cui-input-warning:focus {
    outline-color: var(--cui-warning);
}

.cui-input::placeholder {
    color: var(--cui-default-disabled);
}

.cui-input-primary::placeholder {
    color: var(--cui-primary-disabled);
}

.cui-input-secondary::placeholder {
    color: var(--cui-secondary-hover);
}

.cui-input-tertiary::placeholder {
    color: var(--cui-tertiary-disabled);
}

.cui-input-warning::placeholder {
    color: var(--cui-warning-disabled);
}

.cui-input:disabled {
    color: var(--cui-default-disabled);
}

.cui-input-primary:disabled {
    color: var(--cui-primary-disabled);
}

.cui-input-secondary:disabled {
    color: var(--cui-secondary-disabled);
}

.cui-input-tertiary:disabled {
    color: var(--cui-tertiary-disabled);
}

.cui-input-warning:disabled {
    color: var(--cui-warning-disabled);
}

.cui-label {
    padding-left: .25rem;
    font-size: 1.25rem;
}

.cui-input-btn {
    padding: 0 1rem !important;
    height: 3rem;
    min-width: 8rem;
}

.cui-input-checkbox {
    width: 2rem;
    height: 2rem;
    accent-color: var(--base);
}

.cui-input-range {
    accent-color: var(--base);
}

.cui-input-range:focus {
    outline: none;
}

.cui-input-primary.cui-input-checkbox,
.cui-input-primary.cui-input-range {
    accent-color: var(--cui-primary);
}

.cui-input-secondary.cui-input-checkbox,
.cui-input-secondary.cui-input-range {
    accent-color: var(--cui-secondary);
}

.cui-input-tertiary.cui-input-checkbox,
.cui-input-tertiary.cui-input-range {
    accent-color: var(--cui-tertiary-disabled);
}

.cui-input-warning.cui-input-checkbox,
.cui-input-warning.cui-input-range {
    accent-color: var(--cui-warning-bg);
}

.cui-input-color {
    padding: 0;
    border-width: 5px;
    border-radius: 2px;
}

.cui-input-otp {
    text-align: center;
    width: 2rem;
    padding: .5rem .25rem;
}