.btn {
    color: var(--default);
    background-color: var(--base);
    outline: none;
    padding: 12px 24px;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color .2s ease-in-out, border-color .2s ease-in-out, color .2s ease-in-out;
    border: var(--default) 3px solid;
}

.btn:hover {
    border-color: var(--default-hover);
    background-color: var(--default);
    color: #fff;
}

.btn-primary {
    border-color: var(--primary);
    color: var(--primary);
    background-color: var(--primary-bg);
}

.btn-primary:hover {
    border-color: var(--primary-hover);
    background-color: var(--primary);
    color: #fff;
}

.btn-secondary {
    border-color: var(--secondary);
    color: var(--secondary);
    background-color: var(--secondary-bg);
}

.btn-secondary:hover {
    border-color: var(--secondary-hover);
    background-color: var(--secondary);
    color: #fff;
}

.btn-tertiary {
    border-color: var(--tertiary);
    color: var(--tertiary);
    background-color: var(--tertiary-bg);
}

.btn-tertiary:hover {
    border-color: var(--tertiary-hover);
    background-color: var(--tertiary);
    color: #fff;
}

.btn-warning {
    border-color: var(--warning);
    color: var(--warning);
    background-color: var(--warning-bg);
}

.btn-warning:hover {
    border-color: var(--warning-hover);
    background-color: var(--warning);
    color: #fff;
}

.btn:disabled, .btn-disabled {
    background-color: var(--default-disabled);
    cursor: not-allowed;
}

.btn-primary:disabled, .btn-primary.btn-disabled {
    background-color: var(--primary-disabled);
    color: var(--primary);
}

.btn-secondary:disabled, .btn-secondary.btn-disabled {
    background-color: var(--secondary-disabled);
    color: var(--secondary);
}

.btn-tertiary:disabled, .btn-tertiary.btn-disabled {
    background-color: var(--tertiary-disabled);
    color: var(--tertiary);
}

.btn-warning:disabled, .btn-warning.btn-disabled {
    background-color: var(--warning-disabled);
    color: var(--warning);
}

.btn-loading {
    background-image: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 10px,
      #050100 10px,
      #050100 20px
    );
    background-repeat: repeat;
    background-size: 5760px 100%;
    animation: btn-loading-animation infinite 180s linear;
    color: #fff !important;
}

@media (prefers-reduced-motion: reduce){
    .btn-loading {
        animation: none;
    }
}

@keyframes btn-loading-animation {
    100% {
        background-position: 100% 100%;
    }
}

