.cui-btn {
    color: var(--cui-default);
    background-color: var(--cui-base);
    outline: none;
    padding: 12px 24px;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color .2s ease-in-out, border-color .2s ease-in-out, color .2s ease-in-out;
    border: var(--cui-default) 3px solid;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.cui-btn:hover {
    border-color: var(--cui-default-hover);
    background-color: var(--cui-default);
    color: #fff;
}

.cui-btn-primary {
    border-color: var(--cui-primary);
    color: var(--cui-primary);
    background-color: var(--cui-primary-bg);
}

.cui-btn-primary:hover {
    border-color: var(--cui-primary-hover);
    background-color: var(--cui-primary);
    color: #fff;
}

.cui-btn-secondary {
    border-color: var(--cui-secondary);
    color: var(--cui-secondary);
    background-color: var(--cui-secondary-bg);
}

.cui-btn-secondary:hover {
    border-color: var(--cui-secondary-hover);
    background-color: var(--cui-secondary);
    color: #fff;
}

.cui-btn-tertiary {
    border-color: var(--cui-tertiary);
    color: var(--cui-tertiary);
    background-color: var(--cui-tertiary-bg);
}

.cui-btn-tertiary:hover {
    border-color: var(--cui-tertiary-hover);
    background-color: var(--cui-tertiary);
    color: #fff;
}

.cui-btn-warning {
    border-color: var(--cui-warning);
    color: var(--cui-warning);
    background-color: var(--cui-warning-bg);
}

.cui-btn-warning:hover {
    border-color: var(--cui-warning-hover);
    background-color: var(--cui-warning);
    color: #fff;
}

.cui-btn:disabled, .cui-btn-disabled {
    background-color: var(--cui-default-disabled);
    cursor: not-allowed;
}

.cui-btn-primary:disabled, .cui-btn-primary.cui-btn-disabled {
    background-color: var(--cui-primary-disabled);
    color: var(--cui-primary);
}

.cui-btn-secondary:disabled, .cui-btn-secondary.cui-btn-disabled {
    background-color: var(--cui-secondary-disabled);
    color: var(--cui-secondary);
}

.cui-btn-tertiary:disabled, .cui-btn-tertiary.cui-btn-disabled {
    background-color: var(--cui-tertiary-disabled);
    color: var(--cui-tertiary);
}

.cui-btn-warning:disabled, .cui-btn-warning.cui-btn-disabled {
    background-color: var(--cui-warning-disabled);
    color: var(--cui-warning);
}

.cui-btn-loading {
    background-image: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 10px,
      #050100 10px,
      #050100 20px
    );
    background-repeat: repeat;
    background-size: 5760px 100%;
    animation: cui-btn-loading-animation infinite 180s linear;
    color: #fff !important;
}

@media (prefers-reduced-motion: reduce){
    .cui-btn-loading {
        animation: none;
    }
}

@keyframes cui-btn-loading-animation {
    100% {
        background-position: 100% 100%;
    }
}

.cui-btn-square {
    padding: 0;
    width: 3rem;
    height: 3rem;
}

