.cui-modal {
    background-color: var(--cui-base);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    outline: var(--cui-default) 3px solid;
    outline-offset: 1px;
    border: none;
    max-width: 500px;
    padding: 1rem;
    overflow: hidden;
    opacity: 1;
    pointer-events: inherit;
    transition: opacity .3s, transform .3s;
    transform: scale(100%);
    user-select: none;
    -webkit-user-drag: none;
    position: fixed;
    top: 50vh;
}

.cui-modal:has(.cui-modal-draggable) {
    transition: opacity .3s;
    padding-top: 1.5rem;
}

.cui-modal-draggable {
    background-color: #ffffff3d;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    cursor: move;
}

.cui-modal-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.cui-modal-image * {
    max-width: 150px;
}

.cui-closed {
    opacity: 0;
    pointer-events: none;
    transform: scale(20%);
}

.cui-modal-primary {
    background-color: var(--cui-primary-bg);
    color: var(--cui-primary);
    outline-color: var(--cui-primary);
}

.cui-modal-primary .cui-modal-draggable {
    background-color: var(--cui-primary-disabled);
}

.cui-modal-secondary {
    background-color: var(--cui-secondary-bg);
    color: var(--cui-secondary);
    outline-color: var(--cui-secondary);
}

.cui-modal-secondary .cui-modal-draggable {
    background-color: var(--cui-secondary-disabled);
}

.cui-modal-tertiary {
    background-color: var(--cui-tertiary-bg);
    color: var(--cui-tertiary);
    outline-color: var(--cui-tertiary);
}

.cui-modal-tertiary .cui-modal-draggable {
    background-color: var(--cui-tertiary-disabled);
}

.cui-modal-warning {
    background-color: var(--cui-warning-bg);
    color: var(--cui-warning);
    outline-color: var(--cui-warning);
}

.cui-modal-warning .cui-modal-draggable {
    background-color: #0501006b;
}

.cui-modal-danger {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}

.cui-modal-danger::before {
    content: '';
    width: 100%;
    height: 50px;
    background-image: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 10px,
      #050100 10px,
      #050100 20px
    );
    background-repeat: repeat;
    background-size: 5760px 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: cui-modal-danger-before infinite 180s linear;
    border-bottom: #050100 solid 4px;
}

.cui-modal-danger::after {
    content: '';
    width: 100%;
    height: 50px;
    background-image: repeating-linear-gradient(
      315deg,
      transparent,
      transparent 10px,
      #050100 10px,
      #050100 20px
    );
    background-repeat: repeat;
    background-size: 5760px 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: cui-modal-danger-after infinite 180s linear;
    border-top: #050100 solid 4px;
}

.cui-modal-default.cui-modal-danger::before {
    background-image: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 10px,
        var(--cui-warning-bg) 10px,
        var(--cui-warning-bg) 20px
      );
      border-bottom: var(--cui-warning-bg) solid 4px;
}

.cui-modal-default.cui-modal-danger::after {
    background-image: repeating-linear-gradient(
        315deg,
        transparent,
        transparent 10px,
        var(--cui-warning-bg) 10px,
        var(--cui-warning-bg) 20px
    );
    border-top: var(--cui-warning-bg) solid 4px;
}

@keyframes cui-modal-danger-before {
    100% {
        background-position: 100% 100%;
    }
}

@keyframes cui-modal-danger-after {
    100% {
        background-position: -100% -100%;
    }
}

.cui-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

.cui-modal-header.modal-header-end {
    justify-content: end;
}

.cui-modal-close {
    cursor: pointer;
    background-color: transparent;
    border: transparent 5px solid;
    outline: none;
    padding: 10px;
    border-radius: 50%;
    transition: all .2s ease-in-out;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS14Ij48cGF0aCBkPSJNMTggNiA2IDE4Ii8+PHBhdGggZD0ibTYgNiAxMiAxMiIvPjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-position: center;
}

.cui-modal-close:hover {
    background-color: var(--cui-default-hover);
    border-color: var(--cui-default-hover);
    transition: all .2s ease-in-out;
}

.cui-modal-title {
    font-size: 1.2rem;
    letter-spacing: .05rem;
    margin: 0;
    margin-top: 1rem;
}

.cui-modal-body {
    padding: 1rem 0;
}

.cui-modal-body * {
    margin: 0;
}

.cui-modal-actions {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
    margin-top: 5px;
    max-width: 500px;
}

@media only screen and (max-width: 500px) {
    .cui-modal {
        max-width: 80vw;
    }

    .cui-modal-image {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .cui-modal-actions {
        justify-content: center;
    }

    .cui-modal-actions button {
        width: 100%;
    }
}