:root {
    --cui-primary: #3D78CD;
    --cui-primary-hover: #3160a4;
    --cui-primary-disabled: #244b82;
    --cui-primary-bg: #0c1829;
    --cui-secondary: #BD342F;
    --cui-secondary-hover: #972a26;
    --cui-secondary-disabled: #7a211d;
    --cui-secondary-bg: #4c1513;
    --cui-tertiary: #BDE763;
    --cui-tertiary-hover: #97b94f;
    --cui-tertiary-disabled: #6f8a37;
    --cui-tertiary-bg: #39451e;
    --cui-default: #52706E;
    --cui-default-hover: #425a58;
    --cui-default-disabled: #3c4f4e;
    --cui-warning: #ffd60a;
    --cui-warning-hover: #ccab08;
    --cui-warning-disabled: #edc531;
    --cui-warning-bg: #998006;
    --cui-base: #020108;
}